@font-face {
  font-family: "MuseoSansCyrl_0";
  src: url('../fonts/MuseoSansCyrl_0.otf');
}

@font-face {
  font-family: "trajan-pro-3";
  src: url('../fonts/trajan-pro-3.otf');
}

body {
  background: url("../img/body_bg.png") no-repeat center;
  background-size: cover;
  font-family: "MuseoSansCyrl_0";
}

.flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.btn {
  text-align: center;
  background: linear-gradient(180deg, #6bf6ff, #7528f5);
  cursor: pointer;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  box-shadow: 0 3px 0 #574799;
  padding: 15px 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.btn:hover {
  background: linear-gradient(180deg, #67e6ef, #7327eb);
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

h2 {
  font-size: 30px;
  letter-spacing: 10px;
  font-family: "trajan-pro-3";
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

header .wrap {
  max-width: 1200px;
  margin: 100px auto;
}

header .wrap .header__wrap {
  max-width: 800px;
  background: #fff;
  -webkit-border-radius: 7px 7px 0 0;
  -moz-border-radius: 7px 7px 0 0;
  border-radius: 7px 7px 0 0;
}

header .wrap .header__wrap .header__left .header__videos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  -webkit-border-radius: 0 0 7px 7px;
  -moz-border-radius: 0 0 7px 7px;
  border-radius: 0 0 7px 7px;
  overflow: hidden;
}

header .wrap .header__wrap .header__left .header__videos .header__video {
  min-height: 90px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 20%;
  padding: 10px 10px 0;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

header .wrap .header__wrap .header__left .header__videos .header__video h3 {
  margin-bottom: auto;
  color: #999b9d;
  font-size: 8px;
  z-index: 3;
}

header .wrap .header__wrap .header__left .header__videos .header__video p {
  color: #fff;
  font-size: 13px;
  z-index: 3;
  max-width: 130px;
}

header .wrap .header__wrap .header__left .header__videos .header__video img {
  position: absolute;
  top: 0;
  left: 0;
}

header .wrap .header__wrap .header__left .header__title {
  margin: 50px 50px 0;
}

header .wrap .header__wrap .header__left .header__title img {
  float: left;
  margin-right: 5px;
}

header .wrap .header__wrap .header__left .header__title h2 {
  margin: 30px 0 0;
  letter-spacing: normal;
}

header .wrap .header__wrap .header__left .header__btn-left {
  border-radius: 50%;
  background: #fff;
  box-shadow: 1px 1px 1px;
  width: 35px;
  height: 35px;
  text-align: center;
  position: relative;
  top: 17px;
  right: 17px;
  cursor: pointer;
  z-index: 6;
}

header .wrap .header__wrap .header__left .header__btn-left img {
  position: absolute;
  top: 10px;
  left: 13px;
}

header .wrap .header__right {
  position: fixed;
  width: 30%;
  right: 4%;
  top: 80px;
}

header .wrap .header__right .right__bg1 {
  background: url("../img/right_bg1.png") no-repeat center;
  line-height: 40px;
  color: #fff;
  padding: 40px 0 0 32px;
}

header .wrap .header__right ul {
  color: #000;
  margin: 10px 50px;
}

header .wrap .header__right ul li {
  margin-bottom: 20px;
  position: relative;
}

header .wrap .header__right ul li:before {
  background: url("../img/arrow.png") no-repeat;
  width: 10px;
  height: 10px;
  display: block;
  position: absolute;
  content: '';
  top: 5px;
  left: -15px;
}

header .wrap .header__right .right__bg2 {
  background: url("../img/right_bg2.png") no-repeat center;
  line-height: 100px;
  color: #fff;
  padding: 30px 0 0 32px;
}

header .wrap .header__right p {
  margin: 10px 50px;
  position: relative;
}

header .wrap .header__right p:before {
  background: url("../img/hat_red.png") no-repeat;
  width: 17px;
  height: 10px;
  display: block;
  position: absolute;
  content: '';
  top: 5px;
  left: -20px;
}

.choice .wrap {
  max-width: 1200px;
  margin: 0 auto;
}

.choice .wrap .choice__wrap {
  max-width: 800px;
  background: #fff;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  padding: 10px;
  box-sizing: border-box;
}

.choice .wrap .choice__wrap .choice__border {
  border: 1px solid #c6cffd;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  padding: 40px;
}

.choice .wrap .choice__wrap .choice__border h2 {
  letter-spacing: 3px;
}

.choice .wrap .choice__wrap .choice__border p {
  margin: 30px 0;
}

.choice .wrap .choice__wrap .choice__border ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.choice .wrap .choice__wrap .choice__border ul li {
  text-align: center;
  color: #c6cffd;
  text-decoration: underline;
  font-size: 18px;
  cursor: pointer;
}

.choice .wrap .choice__wrap .choice__border ul li:hover {
  /*background: url("../img/splat.png") no-repeat center;
              background-size: contain;*/
  text-decoration: none;
  /*color: #fff;
              position: relative;
              padding: 6%;
              font-size: 14px;*/
}

.choice .wrap .choice__wrap .choice__border ul li img {
  height: 31px;
}

.woman .wrap {
  max-width: 1200px;
  margin: 100px auto;
}

.woman .wrap .woman__wrap {
  max-width: 800px;
  background: url("../img/woman_bg.png") no-repeat center top;
  background-size: cover;
  min-height: 408px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  color: #fff;
  overflow: hidden;
}

.woman .wrap .woman__wrap .woman__title {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: right;
  max-width: 440px;
  text-align: center;
}

.woman .wrap .woman__wrap .woman__title h2 {
  margin: 85px 0 30px 0;
  font-size: 45px;
}

.woman .wrap .woman__wrap .woman__title p {
  margin-bottom: 30px;
  font-size: 20px;
}

.woman .wrap .woman__wrap .woman__title .woman__btn {
  text-align: center;
  background: linear-gradient(180deg, #6bf6ff, #7528f5);
  cursor: pointer;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  box-shadow: 0 3px 0 #574799;
  padding: 15px 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 16px;
  width: 200px;
  margin: 0 auto 60px;
}

.woman .wrap .woman__wrap .woman__title .woman__btn:hover {
  background: linear-gradient(180deg, #67e6ef, #7327eb);
}

.social .wrap {
  max-width: 1200px;
  margin: 100px auto;
}

.social .wrap .social__wrap {
  max-width: 800px;
  background: #fff;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  color: #000;
  overflow: hidden;
  padding: 10px;
  box-sizing: border-box;
}

.social .wrap .social__wrap .social__border {
  border: 1px solid #c6cffd;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  padding: 40px;
  text-align: center;
}

.social .wrap .social__wrap .social__border h2 {
  font-size: 30px;
}

.social .wrap .social__wrap .social__border .social__icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 30px;
}

.social .wrap .social__wrap .social__border .social__icons a {
  width: 20%;
}

.comments .wrap {
  max-width: 1200px;
  margin: 100px auto;
  padding-bottom: 100px;
}

.comments .wrap .comments__wrap {
  max-width: 800px;
  background: #fff;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  color: #fff;
  overflow: hidden;
  padding: 10px;
  box-sizing: border-box;
}

.comments .wrap .comments__wrap .comments__border {
  border: 1px solid #c6cffd;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  padding: 40px;
  display: flex;
}

.comments .wrap .comments__wrap .comments__border .comments__vk {
  width: 50%;
}

.comments .wrap .comments__wrap .comments__border .fb-comments {
  width: 50%;
}

@media screen and (min-width: 1900px) {
  header .wrap .header__right {
    right: 400px;
  }
}

@media screen and (max-width: 1300px) {
  header .wrap {
    padding: 2%;
    margin: 0 auto;
  }

  header .wrap .header__wrap {
    margin: 0 0 0 8%;
    max-width: 600px;
  }

  header .wrap .header__wrap .header__left .header__main-video iframe {
    height: 400px;
  }

  header .wrap .header__wrap .header__left .header__main-video h3 {
    left: 40%;
  }

  header .wrap .header__wrap .header__left .header__title {
    margin: 50px 10px 0;
  }

  header .wrap .header__wrap .header__left .header__videos .header__video {
    min-height: 65px;
  }

  header .wrap .header__right {
    top: 5%;
    /*width: 75%;
        position: static;
        margin: 30px auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        .header__right-top {
          flex-basis: 390px;
        }

        .header__right-bottom {
          flex-basis: 390px;
        }*/
  }

  header .wrap .header__right .right__bg1 {
    letter-spacing: 5px;
  }

  header .wrap .header__right .right__bg2 {
    letter-spacing: 5px;
  }

  .choice .wrap {
    padding: 2%;
    margin: 0 auto;
  }

  .choice .wrap .choice__wrap {
    margin: 0 0 0 8%;
    max-width: 600px;
  }

  .choice .wrap .choice__wrap .choice__border ul li {
    margin-bottom: 10px;
    flex-basis: 30%;
  }

  .woman .wrap {
    padding: 2%;
    margin: 0 auto;
  }

  .woman .wrap .woman__wrap {
    margin: 0 0 0 8%;
    max-width: 600px;
  }

  .social .wrap {
    margin: 0 auto;
    padding: 2%;
  }

  .social .wrap .social__wrap {
    margin: 0 0 0 8%;
    max-width: 600px;
  }

  .comments .wrap {
    padding: 2%;
    margin: 0 auto;
  }

  .comments .wrap .comments__wrap {
    margin: 0 0 0 8%;
    max-width: 600px;
  }

  .comments .wrap .comments__wrap .comments__border {
    display: block;
  }
}

@media screen and (max-width: 1100px) {
  header .wrap .header__right {
    width: 75%;
    position: static;
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  header .wrap .header__right .header__right-top {
    flex-basis: 380px;
  }

  header .wrap .header__right .header__right-bottom {
    flex-basis: 380px;
  }

  header .wrap .header__right .header__right-bottom .right__bg2 {
    padding-top: 10px;
  }

  header .wrap .header__wrap {
    margin: 0 auto;
  }

  .choice .wrap .choice__wrap {
    margin: 0 auto;
  }

  .woman .wrap .woman__wrap {
    margin: 0 auto;
  }

  .social .wrap .social__wrap {
    margin: 0 auto;
  }

  .comments .wrap .comments__wrap {
    margin: 0 auto;
  }
}

@media screen and (max-width: 768px) {
  header .wrap .header__wrap .header__left .header__main-video iframe {
    height: 300px;
  }

  header .wrap .header__wrap .header__left .header__btn-left {
    display: none;
  }

  header .wrap .header__wrap .header__left .header__videos {
    display: none;
  }

  .choice .wrap .choice__wrap .choice__border ul li {
    flex-basis: 26%;
    margin-top: 30px;
  }

  .woman .wrap {
    max-width: 1200px;
    margin: 100px auto;
  }

  .social .wrap .social__wrap .social__border {
    padding: 4%;
  }
}

@media screen and (max-width: 600px) {
  h2 {
    letter-spacing: normal;
  }

  header .wrap .header__wrap .header__left .header__main-video iframe {
    height: 200px;
  }

  header .wrap .header__wrap .header__left .header__title {
    margin: 20px 10px 0;
  }

  header .wrap .header__right {
    width: 100%;
    padding: 2%;
  }

  .choice .wrap .choice__wrap .choice__border {
    padding: 4%;
  }

  .choice .wrap .choice__wrap .choice__border ul {
    justify-content: space-around;
  }

  .choice .wrap .choice__wrap .choice__border ul li {
    flex-basis: 34%;
  }

  .woman .wrap .woman__wrap {
    background: #fff url("../img/woman.png") no-repeat center top;
    color: #000;
  }

  .woman .wrap .woman__wrap .woman__title {
    margin-top: 330px;
    margin-left: 10%;
    float: left;
  }
}

@media screen and (max-width: 400px) {
  h2 {
    font-size: 22px;
  }

  header .wrap .header__wrap .header__left .header__main-video iframe {
    height: 150px;
  }

  .choice .wrap .choice__wrap .choice__border ul li {
    margin: 30px auto;
    font-size: 12px;
  }
}