@font-face {
  font-family: "MuseoSansCyrl";
  src: url('../fonts/MuseoSansCyrl.otf');
}

@font-face {
  font-family: "trajan-pro-3";
  src: url('../fonts/trajan-pro-3.otf');
}

.flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.btn {
  text-align: center;
  background: linear-gradient(180deg, #6bf6ff, #7528f5);
  cursor: pointer;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  box-shadow: 0 3px 0 #574799;
  padding: 20px;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

h2 {
  font-size: 30px;
  letter-spacing: 10px;
  font-family: "trajan-pro-3";
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

body {
  background: url("../img/body_bg.png") no-repeat center;
  background-size: cover;
}

header .wrap {
  max-width: 1200px;
  margin: 100px auto;
}

header .wrap .right {
  position: fixed;
  width: 400px;
  right: 50px;
  top: 40px;
}

header .wrap .right .right__bg1 {
  background: url("../img/right_bg1.png") no-repeat center;
  width: 410px;
  height: 128px;
  line-height: 50px;
  color: #fff;
  text-align: center;
  padding-top: 50px;
}

header .wrap .right ul {
  color: #000;
  margin: 10px 30px;
}

header .wrap .right ul li {
  margin-bottom: 25px;
}

header .wrap .right ul li:before {
  background: url("../img/arrow.png") no-repeat;
  width: 10px;
  height: 10px;
  display: block;
  position: absolute;
  content: '';
  top: 190px;
  left: 15px;
}

header .wrap .right ul li:nth-child(2):before {
  top: 240px;
}

header .wrap .right ul li:nth-child(3):before {
  top: 290px;
}

header .wrap .right .right__bg2 {
  background: url("../img/right_bg2.png") no-repeat center;
  width: 399px;
  height: 90px;
  line-height: 100px;
  color: #fff;
  text-align: center;
}

header .wrap .right p {
  margin: 10px 30px;
}

header .wrap .right p:before {
  background: url("../img/hat_red.png") no-repeat;
  width: 17px;
  height: 10px;
  display: block;
  position: absolute;
  content: '';
  top: 438px;
  left: 10px;
}

header .wrap .right .header__btn-right {
  font-family: "Museo Sans Cyrl 500";
  font-size: 12px;
  margin-top: 25px;
  color: #fff;
  text-align: center;
  background: linear-gradient(180deg, #6bf6ff, #7528f5);
  cursor: pointer;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  box-shadow: 0 3px 0 #574799;
  padding: 20px;
}

header .wrap .header__wrap {
  max-width: 800px;
  background: #fff;
}

header .wrap .header__wrap .left .header__main-video {
  height: 359px;
  background: #fcf;
  -webkit-border-radius: 7px 7px 0 0;
  -moz-border-radius: 7px 7px 0 0;
  border-radius: 7px 7px 0 0;
  overflow: hidden;
}

header .wrap .header__wrap .left .header__title {
  margin: 50px;
}

header .wrap .header__wrap .left .header__title img {
  float: left;
  margin-right: 5px;
}

header .wrap .header__wrap .left .header__title h2 {
  margin: 30px 0;
}

header .wrap .header__wrap .left .header__btn-left {
  border-radius: 50%;
  background: #fff;
  box-shadow: 1px 1px 1px;
  width: 35px;
  height: 35px;
  text-align: center;
  position: relative;
  top: 17px;
  right: 17px;
  cursor: pointer;
}

header .wrap .header__wrap .left .header__btn-left img {
  position: absolute;
  top: 10px;
  left: 13px;
}

header .wrap .header__wrap .left .header__videos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  -webkit-border-radius: 0 0 7px 7px;
  -moz-border-radius: 0 0 7px 7px;
  border-radius: 0 0 7px 7px;
  overflow: hidden;
}

header .wrap .header__wrap .left .header__videos .header__video {
  background: #cf4;
  flex-grow: 1;
  flex-basis: 20%;
}

.choice .wrap {
  max-width: 1200px;
  margin: 0 auto;
}

.choice .wrap .choice__wrap {
  max-width: 800px;
  background: #fff;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  padding: 10px;
  box-sizing: border-box;
}

.choice .wrap .choice__wrap .choice__border {
  border: 1px solid #c6cffd;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  padding: 40px;
}

.choice .wrap .choice__wrap .choice__border p {
  margin: 30px 0;
}

.choice .wrap .choice__wrap .choice__border ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.choice .wrap .choice__wrap .choice__border ul li {
  flex-basis: 16%;
  text-align: center;
  color: #c6cffd;
  text-decoration: underline;
  font-size: 18px;
}

.choice .wrap .choice__wrap .choice__border ul li:hover {
  background: url("../img/splat.png") no-repeat center;
  background-size: contain;
  text-decoration: none;
  color: #fff;
}

.woman .wrap {
  max-width: 1200px;
  margin: 100px auto;
}

.woman .wrap .woman__wrap {
  max-width: 800px;
  background: url("../img/woman_bg.png") no-repeat center;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  color: #fff;
  overflow: hidden;
}

.woman .wrap .woman__wrap .woman__title {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: right;
  max-width: 440px;
  text-align: center;
}

.woman .wrap .woman__wrap .woman__title h2 {
  margin: 85px 0 30px 0;
  font-size: 45px;
}

.woman .wrap .woman__wrap .woman__title p {
  margin-bottom: 30px;
  font-size: 20px;
}

.woman .wrap .woman__wrap .woman__title .woman__btn {
  text-align: center;
  background: linear-gradient(180deg, #6bf6ff, #7528f5);
  cursor: pointer;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  box-shadow: 0 3px 0 #574799;
  padding: 20px;
  font-size: 16px;
  width: 200px;
  margin: 0 auto 60px;
}

.want .wrap {
  max-width: 1200px;
  margin: 100px auto;
}

.want .wrap .want__wrap {
  max-width: 800px;
  background: #fff url("../img/want_bg.png") no-repeat center;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  color: #fff;
  overflow: hidden;
  padding: 10px;
  box-sizing: border-box;
}

.want .wrap .want__wrap .want__border {
  border: 1px solid #c6cffd;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  padding: 40px;
  text-align: center;
}

.want .wrap .want__wrap .want__border h2 {
  font-size: 60px;
}

.want .wrap .want__wrap .want__border div {
  margin-top: 20px;
  font-size: 20px;
}

.want .wrap .want__wrap .want__border p {
  color: #000;
  margin-top: 150px;
  font-size: 16px;
}

.want .wrap .want__wrap .want__border .want__foot {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 80px;
}

.want .wrap .want__wrap .want__border .want__foot .want__btn {
  width: 200px;
}

.want .wrap .want__wrap .want__border .want__foot .want__social {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 400px;
}

.want .wrap .want__wrap .want__border .want__foot .want__social a {
  width: 20%;
}

.comments .wrap {
  max-width: 1200px;
  margin: 100px auto;
  padding-bottom: 100px;
}

.comments .wrap .comments__wrap {
  max-width: 800px;
  height: 370px;
  background: #fff;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  color: #fff;
  overflow: hidden;
  padding: 10px;
  box-sizing: border-box;
}

.comments .wrap .comments__wrap .comments__border {
  height: 270px;
  border: 1px solid #c6cffd;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  padding: 40px;
}