@wrap_width: 800px;
@import url('//shop.elizavetababanova.com/media/css/page_ext.css');

@font-face {
  font-family: "MuseoSansCyrl_0";
  src: url('../fonts/MuseoSansCyrl_0.otf');
}

@font-face {
  font-family: "trajan-pro-3";
  src: url('../fonts/trajan-pro-3.otf');
}

body {
  background: url("../img/body_bg.png") no-repeat center;
  background-size: cover;
  font-family: "MuseoSansCyrl_0";
}

.flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.btn {
  text-align: center;
  background: linear-gradient(180deg, #6bf6ff, #7528f5);
  cursor: pointer;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  box-shadow: 0 3px 0 #574799;
  padding: 15px 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  &:hover {
    background: linear-gradient(180deg, #67e6ef, #7327eb);
  }
}

.li{
  text-align: center;
  color: #c6cffd;
  text-decoration: underline;
  font-size: 17px;
  flex-basis:16%;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}

.icon {
  padding-top: 50px;

  &:hover {
    background-size: contain;
    width: 128px;
    height: 133px;
    position: absolute;
    bottom:-50px;
    left:-15px;
    padding: 6%;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

h2 {
  font-size: 30px;
  letter-spacing: 10px;
  font-family: "trajan-pro-3";
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

header {
  .wrap {
    max-width: 1200px;
    margin: 100px auto 50px;

    .header__wrap {
      max-width: @wrap_width;
      background: #fff;
      -webkit-border-radius: 7px;
      -moz-border-radius: 7px;
      border-radius: 7px;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);

      .header__left {
        .header__videos {
          .flex;
          -webkit-border-radius: 0 0 7px 7px;
          -moz-border-radius: 0 0 7px 7px;
          border-radius: 0 0 7px 7px;
          overflow: hidden;

          #video1{
            background: url("../img/video1.png") no-repeat center;

          }

          #video2{
            background: url("../img/video2.png") no-repeat center;

          }

          #video3{
            background: url("../img/video3.png") no-repeat center;

          }

          #video4{
            background: url("../img/video4.png") no-repeat center;

          }

          #video5{
            background: url("../img/video5.png") no-repeat center;

          }

          .header__video {
            min-height: 90px;
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            flex-basis: 20%;
            padding: 10px 10px 0;
            position: relative;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;

            h3 {
              margin-bottom: auto;
              color: #999b9d;
              font-size: 8px;
              z-index: 3;
            }

            p {
              color: #fff;
              font-size: 13px;
              z-index: 3;
              max-width: 130px;
            }

            img {
              position: absolute;
              top: 0;
              left: 0;
            }
          }
        }

        .header__title {
          margin: 10px 50px 0;

          img {
            float: left;
            margin-right: 5px;
          }

          h2 {
            margin: 20px 0 0;
            letter-spacing: 5px;
          }
        }

        .header__btn-left {
          border-radius: 50%;
          background: #fff;
          box-shadow: 1px 1px 1px;
          width: 35px;
          height: 35px;
          text-align: center;
          position: relative;
          top: 17px;
          left: 78%;
          cursor: pointer;
          z-index: 6;

          img {
            position: absolute;
            top: 10px;
            left: 13px;
          }
        }
      }
    }

    .header__right {
      position: fixed;
      width: 30%;
      right: 4%;
      top: 80px;

      .right__bg1 {
        background: url("../img/right_bg1.png") no-repeat left;
        line-height: 40px;
        color: #fff;
        padding: 40px 0 0 32px;
      }

      ul {
        color: #000;
        margin: 10px 50px;

        li {
          margin-bottom: 20px;
          position: relative;

          &:before {
            background: url("../img/arrow.png") no-repeat;
            width: 10px;
            height: 10px;
            display: block;
            position: absolute;
            content: '';
            top: 5px;
            left: -15px;
          }
        }
      }

      .right__bg2 {
        background: url("../img/right_bg2.png") no-repeat left;
        line-height: 100px;
        color: #fff;
        padding: 30px 0 0 32px;
      }

      p {
        margin: 10px 50px;
        position: relative;

        &:before {
          background: url("../img/hat_red.png") no-repeat;
          width: 17px;
          height: 10px;
          display: block;
          position: absolute;
          content: '';
          top: 5px;
          left: -20px;
        }
      }
    }
  }
}

.choice {

  .wrap {
    max-width: 1200px;
    margin: 0 auto;

    .choice__wrap {
      max-width: @wrap_width;
      background: #fff;
      -webkit-border-radius: 7px;
      -moz-border-radius: 7px;
      border-radius: 7px;
      padding: 10px;
      box-sizing: border-box;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);

      .choice__border {
        border: 1px solid #c6cffd;
        -webkit-border-radius: 7px;
        -moz-border-radius: 7px;
        border-radius: 7px;
        padding: 40px;

        h2 {
          letter-spacing: 3px;
        }

        p {
          margin: 30px 0 40px;
        }

        ul {
          .flex;
          align-items: center;

          .jc_subblock_1 {
            position: fixed;
            bottom: 50%;
            left: 35%;
            display: none;
            opacity: 0;
            z-index: 99;

            .choice__close {
              position: absolute;
              top: -20px;
              right: -20px;
              cursor: pointer;
            }
          }

          .icon1 {
            .li;

            div {
              background: url("../img/body.png") 50% 25% no-repeat;
              .icon;

              &:hover {
                background: url("../img/body2.png") no-repeat center;
              }
            }

             p{
              margin:0;
            }
          }

          .icon2 {
            .li;

            div {
              background: url("../img/finance.png") 50% 25% no-repeat;
              .icon;

              &:hover {
                background: url("../img/finance2.png") no-repeat center;
              }
            }

            p{
              margin:0;
            }
          }

          .icon3 {
            .li;

            div {
              background: url("../img/relationship.png") 50% 25% no-repeat;
              .icon;

              &:hover {
                background: url("../img/relationship2.png") no-repeat center;
              }
            }

            p{
              margin:0;
            }
          }

          .icon4 {
            .li;

            div {
              background: url("../img/emotion.png") 50% 25% no-repeat;
              .icon;

              &:hover {
                background: url("../img/emotion2.png") no-repeat center;
              }
            }

            p{
              margin:0;
            }
          }

          .icon5 {
            .li;

            div {
              background: url("../img/realization.png") 50% 25% no-repeat;
              .icon;

              &:hover {
                background: url("../img/realization2.png") no-repeat center;
              }
            }

            p{
              margin:0;
            }
          }

          .icon6 {
            .li;

            div {
              background: url("../img/efficacy.png") 50% 25% no-repeat;
              .icon;

              &:hover {
                background: url("../img/efficacy2.png") no-repeat center;
                left:-9px;
              }
            }

            p{
              margin:0;
            }
          }
        }
      }
    }
  }
}

.woman {
  .wrap {
    max-width: 1200px;
    margin: 50px auto;

    .woman__wrap {
      max-width: @wrap_width;
      background: url("../img/woman_bg.png") no-repeat center;
      min-height: 380px;
      -webkit-border-radius: 7px;
      -moz-border-radius: 7px;
      border-radius: 7px;
      color: #fff;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
      overflow: hidden;

      .woman__title {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        float: right;
        max-width: 440px;
        text-align: center;

        h2 {
          margin: 77px 0 30px 0;
          font-size: 45px;
        }

        p {
          margin-bottom: 30px;
          font-size: 20px;
        }

        .woman__btn {
          .btn;
          font-size: 16px;
          width: 200px;
          margin: 0 auto 20px;
        }
      }
    }
  }
}

.social {
  .wrap {
    max-width: 1200px;
    margin: 0 auto;

    .social__wrap {
      max-width: @wrap_width;
      background: #fff;
      -webkit-border-radius: 7px;
      -moz-border-radius: 7px;
      border-radius: 7px;
      color: #000;
      overflow: hidden;
      padding: 10px;
      box-sizing: border-box;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);

      .social__border {
        border: 1px solid #c6cffd;
        -webkit-border-radius: 7px;
        -moz-border-radius: 7px;
        border-radius: 7px;
        padding: 40px;
        text-align: center;

        h2 {
          font-size: 30px;
        }

        .social__icons {
          .flex;
          margin-top: 30px;

          a {
            width: 20%;
          }
        }
      }
    }
  }
}

.comments {
  .wrap {
    max-width: 1200px;
    margin: 50px auto;
    padding-bottom: 100px;

    .comments__wrap {
      max-width: @wrap_width;
      background: #fff;
      -webkit-border-radius: 7px;
      -moz-border-radius: 7px;
      border-radius: 7px;
      color: #fff;
      overflow: hidden;
      padding: 10px;
      box-sizing: border-box;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);

      .comments__border {
        border: 1px solid #c6cffd;
        -webkit-border-radius: 7px;
        -moz-border-radius: 7px;
        border-radius: 7px;
        padding: 40px;
        display: flex;

        .comments__vk {
          width: 50%;
        }

        .fb-comments {
          width: 50%;
        }
      }
    }
  }
}

/*стили всплывающей формы*/

#subscr-block-7338 {
  width: 314px;
  margin: 0 auto;
  padding: 25px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

#subscr-form-7338 td {
  font: normal 16px Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 0;
}

#subscr-form-7338 input.form-submit {
  text-align: center;
  width: auto;
}

#subscr-form-7338 #form-submit-7338 {
  border: solid 1px #E0E0E0;
  margin-top: 5px;
}

#subscr-form-7338 a.oferta {
  color: #034795;
  text-decoration: underline;
}

#subscr-form-7338 a.oferta:hover {
  text-decoration: none;
}

#subscr-form-7338 a.jc_compile_btn, input.form-submit.jc_compile_btn {
  border: solid 1px #E0E0E0;
  margin-top: 5px;
}

#subscr-form-7338 a.jc_compile_btn span, #subscr-form-7338 input.form-submit.jc_compile_btn {
  font: normal 20px Arial;
  padding-top: 7px;
  margin-bottom: -5px;
}

#subscr-form-7338 input[type=text] {
  color: #000;
  font-size: 16px;
  text-align: left;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  border-radius: 14px;
  border: #ccc 1px solid;
  padding: 7px 10px;
  margin: 5px 10px 8px;
  width: 264px;
}

#subscr-form-7338 textarea.leads_textarea {
  color: #000;
  font-size: 16px;
  text-align: left;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  border-radius: 14px;
  border: #ccc 1px solid;
  padding: 7px 10px;
  margin: 5px 10px 8px;
  width: 264px;
  height: 120px;
}

#subscr-form-7338 select.leads_select {
  color: #000;
  font-size: 16px;
  text-align: left;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  border-radius: 14px;
  border: #ccc 1px solid;
  padding: 7px 5px;
  margin: 5px 10px 8px;
  width: 286px;
  line-height: 30px;
}

@media screen and(min-width: 1900px) {
  header {
    .wrap {
      .header__right {
        right: 10%;
      }
    }
  }
}

@media screen and(max-width: 1300px) {
  header {
    .wrap {
      padding: 2%;
      margin: 0 auto;

      .header__wrap {
        margin: 0 0 0 8%;
        max-width: 600px;

        .header__left {
          .header__main-video {
            iframe {
              height: 400px;
            }

            h3 {
              left: 40%;
            }
          }

          .header__title {
            margin: 2% 10px 0;
          }

          .header__videos {
            .header__video {
              min-height: 65px;
            }
          }
        }
      }

      .header__right {
        top: 5%;

        .right__bg1 {
          letter-spacing: 5px;
        }

        .right__bg2 {
          letter-spacing: 5px;
        }
      }
    }
  }

  .choice {
    .wrap {
      padding: 2%;
      margin: 0 auto;

      .choice__wrap {
        margin: 0 0 0 8%;
        max-width: 600px;

        .choice__border {
          ul {
            .choice__form {
              margin-top: 30px;
              flex-basis:30%;
              font-size: 14px;

              div{
                &:hover{
                  left:0;
                }
              }
            }
          }
        }
      }
    }
  }

  .woman {
    .wrap {
      padding: 2%;
      margin: 0 auto;

      .woman__wrap {
        margin: 0 0 0 8%;
        max-width: 600px;

        .woman__title {
          h2 {
            margin-left: 25%;
          }

          p {
            margin-left: 25%;
          }

          .woman__btn {
            margin-left: 40%;
          }
        }
      }
    }
  }

  .social {
    .wrap {
      margin: 0 auto;
      padding: 2%;

      .social__wrap {
        margin: 0 0 0 8%;
        max-width: 600px;
      }
    }
  }

  .comments {
    .wrap {
      padding: 2%;
      margin: 0 auto;

      .comments__wrap {
        margin: 0 0 0 8%;
        max-width: 600px;

        .comments__border {
          display: block;
        }
      }
    }
  }
}

@media screen and(max-width: 1100px) {
  header {
    .wrap {
      .header__right {
        width: 75%;
        position: static;
        margin: 30px auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        .header__right-top {
          flex-basis: 380px;
        }

        .header__right-bottom {
          flex-basis: 380px;

          .right__bg2 {
            padding-top: 10px;
          }
        }
      }

      .header__wrap {
        margin: 0 auto;
      }
    }
  }

  .choice {
    .wrap {
      .choice__wrap {
        margin: 0 auto;
      }
    }
  }

  .woman {
    .wrap {
      .woman__wrap {
        margin: 0 auto;
      }
    }
  }

  .social {
    .wrap {
      .social__wrap {
        margin: 0 auto;
      }
    }
  }

  .comments {
    .wrap {
      .comments__wrap {
        margin: 0 auto;
      }
    }
  }
}

@media screen and(max-width: 768px) {
  header {
    .wrap {
      .header__wrap {
        .header__left {
          .header__main-video {
            iframe {
              height: 300px;
            }
          }

          .header__btn-left {
            display: none;
          }

          .header__videos {
            display: none;
          }
        }
      }
    }
  }

  .choice {
    .wrap {
      .choice__wrap {
        .choice__border {
          ul {
            li {
              margin: 30px auto 0;
            }
          }
        }
      }
    }
  }

  .woman {
    .wrap {
      max-width: 1200px;
      margin: 100px auto;
    }
  }

  .social {
    .wrap {
      .social__wrap {
        .social__border {
          padding: 4%;
        }
      }
    }
  }
}

@media screen and(max-width: 600px) {

  h2 {
    letter-spacing: normal;
  }

  header {
    .wrap {
      .header__wrap {
        .header__left {
          .header__main-video {
            iframe {
              height: 200px;
            }
          }

          .header__title {
            margin: 20px 10px 0;
          }
        }
      }

      .header__right {
        width: 100%;
        padding: 2%;
      }
    }
  }

  .choice {
    .wrap {
      .choice__wrap {
        .choice__border {
          padding: 4%;

          ul {
            justify-content: space-around;
          }
        }
      }
    }
  }

  .woman {
    .wrap {
      margin: 50px auto;
      .woman__wrap {
        background: #fff url("../img/woman.png") no-repeat center top;
        color: #000;

        .woman__title {
          margin: 330px 0 0 6%;
          float: left;

          h2 {
            margin: 77px auto 30px;
          }

          p {
            margin: 0 auto 30px;
          }

          .woman__btn {
            margin: 0 auto 20px;
          }
        }
      }
    }
  }

  .comments {
    .wrap {
      margin: 50px auto;

      .comments__wrap{
        .comments__border{
          padding:0;
        }
      }
    }
  }
}

@media screen and(max-width: 400px) {
  h2 {
    font-size: 22px;
  }

  header {
    .wrap {
      .header__wrap {
        .header__left {
          .header__main-video {
            iframe {
              height: 150px;
            }
          }
        }
      }
    }
  }

  .choice {
    .wrap {
      .choice__wrap {
        .choice__border {
          ul {
            .choice__form {
              flex-basis:50%;
            }
          }
        }
      }
    }
  }

  .woman {
    .wrap {
      .woman__wrap {
        .woman__title {
          margin-left: 0;
        }
      }
    }
  }

  .social{
    .wrap{
      .social__wrap{
        .social__border{
          h2{
            font-size: 25px;
          }
        }
      }
    }
  }

  #vkwidget1{
    width:260px;
  }

  .comments__fb {
    display: none;
  }
}